<div class="main-container grid-container">
    <div class="product-name">
        <h1>
            Product: {{productId}}
        </h1>
    </div>
    <div class="product-buttons">
        <button [disabled]="!isAdmin" (click) = "goToEditView()">Edit</button>
        <button [disabled]="!isAdmin" (click) = "deleteProduct()">Delete</button>
    </div>
    <div class="product-details">
        <h4>
            Name: {{product.name}}
        </h4>
        <h4>
            Category: {{product.category}}
        </h4>
        <h4>
            Price: {{product.price}}
        </h4>
        <h4>
            Description: {{product.description}}
        </h4>
        <input min="1" type="number" placeholder="Enter the quantity" [(ngModel)] = "prodQuantity">
        <button [disabled]="!isCustomer" (click)="addToShoppingCart()">Add</button>
    </div>
    <div class="product-image">
        <img [src]="product.imageUrl" alt="Image with prod">
    </div>
</div>