<div class="main-container">
    <div class="toolbar">
        <h1>Shopping Cart</h1>
        <button (click) = "sendOrder()">
            Checkout
        </button>
    </div>
    <div>
        <table class="center">
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Product Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products">
                    <td>{{product.category}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.quantity}}</td>
                    <td><button id="x-button" (click)="removeItemFromCart(product.productId)">X</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>